<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../../public/favicon.png" />
  <title>
    {% block title %}Hello, World{% endblock %}
  </title>
  {% asset "app.css" %}
</head>
<body>

  <div class="topbar">
    <img class="logo" src="/public/images/logo.png" />
  </div>

  {% block body %}
    Default body
  {% endblock %}

  {% asset "vendor.js" %}
  {% asset "app.js" %}
</body>
</html>